<html>
<head>
  <script>
    function httpGetAsync(url, cb) {
      const xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function() {
        if(xmlHttp.readyState == 4 && xmlHttp.status == 200)
          cb(xmlHttp.responseText)
      }
      xmlHttp.open("GET", url, true);
      xmlHttp.send(null);
    }
    
    httpGetAsync('http://localhost:5050/stores', function(data){
      console.log(data);
    });
  </script>
</head>
<body>
  <div id="element">
    Hello, World!
  </div>
</body>
</html>
